<div class="card text-center p-4">
  <div>
    <img
      style="width: 80px"
      src="https://content-us-2.content-cms.com/9b3f67ef-5a9f-4acc-8ce8-bcc27fa681c7/dxdam/26/26f0297c-a0f6-4c4f-8a97-062f469c2579/prestamo-credito.png"
      class="card-img-top"
      alt="..."
    />
  </div>
  <div class="card-body">
    <h5 class="card-title">Visión</h5>
    <p class="card-text mt-4">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
      provident sed molestias, doloribus, obcaecati veritatis saepe quas
      beatae autem repellat minus totam, perspiciatis quae est et! Odio,
      veritatis voluptate. Magnam?
    </p>
  </div>
</div>
